

.header
{
    text-align: center;
    font-size: 30px;
}



.calandar
{
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);/* How many coloms 7*/
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 30px;
    

/* Make the colome responce */

}


/* Each day is a div and its css properties to set the color, font size*/
#day
{
    border: solid;
    border-radius: 0%;
    background-color: rgb(249, 214, 214);
    width: 190px;
    height: 200px;
    pad: 100px;
    margin-left: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 30px;

    
}


/*This is changing hte size of the data in the day*/
#day ul li
{
    font-size: 20px;
    
}

/*The bullet points*/
.dayUl
{
    padding-left: 20px;
}

