:root {
  --yellowtext: #FEFE33;
  --maincolor: #8601AF;
  --hovercolor: #F7F7D4;
  --secondarybar: #2A0934;
  --pastdate: #9214B8;
  --presentdate: #fff5d1;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.header,
.custom-modal-header,
.custom-card-header,
.btn-custom {
  background-color: var(--maincolor);
  color: var(--yellowtext);
}

.btn-custom:hover {
  color: var(--hovercolor);
}

.table-custom th {
  background-color: var(--secondarybar);
  color: var(--yellowtext);
}

.past-date {
  background-color: var(--pastdate);
}

.present-date {
  background-color: var(--presentdate);
}

#goatCarrot {
  position: absolute;
  width: 375px;
  height: 250px;
  top: 9px;
  left: 250px;  
}

#BradyGoat {
  position: absolute;
  width: 185px;
  height: 250px;
  top: 9px;
  right: 440px;  
}

#MessiGoat {
  position: absolute;
  width: 185px;
  height: 250px;
  top: 9px;
  right: 240px;  
}

#JordanGoat {
  position: absolute;
  width: 175px;
  height: 250px;
  top: 9px;
  right: 50px;  
}




