:root {
<<<<<<< HEAD
  --yellowtext: #FDB927;
  --maincolor: #552583;
  --hovercolor: #F7F7D4;
  --secondarybar: #552583;
  --pastdate: #FFF5D1;
  --presentdate: #FEFE33;
=======
  --backgroundcolor: #f8f8e4;
  --yellowtext: #fdb927;
  --maincolor: #552583;
  --hovercolor: #fdb927;
  --secondarybar: #552583;
  --pastdate: white;
  --presentdate: #fefe33;
  --closebutton: red;
}

h1 {
  font-family: 'Rubik Lines', sans-serif;
}

h2,
h3,
h4,
h5,
h6, 
th,
button,
nav {
  font-family: 'Marko One', sans-serif;
}

#calendar-link {
  color: var(--maincolor);
  background-color: var(--yellowtext);
  border: none;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
}

#calendar-link:hover {
  color: var(--yellowtext);
  background-color: var(--maincolor);
  border: 2px solid var(--yellowtext);
>>>>>>> b6fb9c26a5f52681cabf497092c764381d501105
}

body {
  font-family: 'Petrona', sans-serif;
  font-weight: 400;
  background-color: var(--backgroundcolor);
}

.card-body, .user-input-container, .user-input-container li {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.header,
.custom-modal-header,
.custom-card-header,
.btn-custom {
  background-color: var(--maincolor);
  color: var(--yellowtext);
}

.btn-custom:hover {
<<<<<<< HEAD
  color: var(--hovercolor);
=======
  background-color: var(--hovercolor);
  color: #552583;
}

.btn-sm:hover {
  color: var(--closebutton);
>>>>>>> b6fb9c26a5f52681cabf497092c764381d501105
}

.table-custom th {
  background-color: var(--secondarybar);
  color: var(--yellowtext);
}

<<<<<<< HEAD
.past-date {
  background-color: var(--pastdate);
}

.present-date {
  background-color: var(--presentdate);
}

#goatCarrot {
  position: absolute;
  width: 375px;
  height: 250px;
  top: 9px;
  left: 250px;  
}

#BradyGoat {
  position: absolute;
  width: 185px;
  height: 250px;
  top: 9px;
  right: 440px;  
}

#MessiGoat {
  position: absolute;
  width: 185px;
  height: 250px;
  top: 9px;
  right: 240px;  
}

#JordanGoat {
  position: absolute;
  width: 175px;
  height: 250px;
  top: 9px;
  right: 50px;  
=======
.project-late {
  background-color: var(--pastdate);
}

.project-today {
  background-color: var(--presentdate);
>>>>>>> b6fb9c26a5f52681cabf497092c764381d501105
}



<<<<<<< HEAD

=======
>>>>>>> b6fb9c26a5f52681cabf497092c764381d501105
